<figure class="card card-block media-summary media-#{type}">

  <figcaption>
    <h1><%= title %></h1>
    <% if defined?(sub) %>
      <h2><%= sub %></h2>
    <% end %>
  </figcaption>

  <div class="links">
  <% case %>
  <% when defined?(audio_link) %>
    <audio src="<%= audio_link %>" controls>
      Your browser does not support embedded audio. The audio is
      <a href="<%= audio_link %>">here</a>.
    </audio>    
  <% when defined?(site_link) %>
    Visit the <a href="<%= site_link %>">host's site</a> to listen.
  <% when defined?(embed_html) %>
    <%= embed_html %>
  <% else %>
    don't know
  <% end %>
  </div>

  <figcaption>
    <% if defined?(desc) %>
      <div class="fig-desc">
        <%= desc %>
      </div>
    <% end %>
  </figcaption>
</figure>


