<% site = config[:casper][:blog] %>
  <head>
    <meta charset="utf-8">

    <title><%= page_title%></title>

    <script type="text/javascript">
     if ((window.location.host == "pragdave.me")
         && (window.location.protocol != "https:"))
       window.location.protocol = "https";
    </script>


    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <meta http-equiv=""X-UA-Compatible"
          content="IE=edge">

    <meta name="HandheldFriendly" content="True">

    <meta name="description" content="<%= page_description %>">

    <meta name="google-site-verification"
          content="OzOW3FH31W8nQmrqFhWhFdouWi5jrBGo4791y7KId_w" />

    <link href='//fonts.googleapis.com/css?family=Fira+Sans:400,700'
          rel='stylesheet'
          type='text/css'>

    <link rel='stylesheet'
          type='text/css'
          href='//fonts.googleapis.com/css?family=Open+Sans|Marcellus+SC'>

    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
          integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd"
          crossorigin="anonymous">
<!--     <link rel="stylesheet"
          href="/stylesheets/vendor/bootstrap.min.css"> -->

    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/<%= config[:syntax_highlight_theme] || 'solarized_dark.min.css' %>">


    <link rel="stylesheet"
          href="/stylesheets/application.css">
    <link rel="stylesheet"
          href="/stylesheets/styles.css">
    <link rel="stylesheet"
          href="/stylesheets/custom.css">

    <link rel="alternate"
          type="application/rss+xml"
          title="RSS" href="/index.xml">

    <meta property="og:description"
          content="<%= page_description %>">
    <meta property="og:site_name"
          content="<%= blog_settings.name %>">
    <meta property="og:type"
          content="website">
    <meta property="og:url"
          content="<%=URI.join(blog_settings.url, current_page.url) %>">
    <meta property="og:url"
          content="<%= site[:url] %>">
    <meta property='og:title'
          content="<%= site[:name] %>">


    <meta name="twitter:card"
          content="summary">
    <meta name="twitter:description"
          content="<%= page_description %>">
    <meta name="twitter:url"
          content="<%= URI.join(blog_settings.url, current_page.url) %>">
    <% if blog_author.twitter.present? %>
      <meta name="twitter:site"
            content="<%= blog_author.twitter %>">
    <% end %>

    <link rel="shortcut icon"
          href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon"
          href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon"
          sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon"
          sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon"
          sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon"
          sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon"
          sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon"
          sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon"
          sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon"
          sizes="180x180" href="/apple-touch-icon-180x180.png" />

    <%= partial("shared/ga") %>

  </head>

